@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    background-color: #0D0221;
     font-family: "Roboto Mono", monospace;
}

h1 {
    color: #008DBD;
    font-size: 3em;
}

h2{
    font-size: 1.5rem;
}

p{
    line-height: 1.5;
}

header p{
    font-size: 1.1rem;
    font-weight: bold;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #0F084B;
    color: aliceblue;
}

main {
    padding: 60px;
    margin: auto;
}

#QueEs{
    background-color: aquamarine;
}

section{
    background-color: #26408B;
    padding: 20px;
    margin-bottom: 10px;
}

footer{
    padding: 20px;
    text-align: center;
}